---
layout: default
title: "404 - Page Not Found"
permalink: /404.html
sitemap: false
---

<div class="container pt-6 pb-10">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 text-center">
      <h1 class="title-3xl mt-4">Oops! ☕</h1>
      <h2 class="title-xl mb-3">The page you're looking for has moved or doesn't exist.</h2>
      <p class="mb-4">
        Maybe it's time for a coffee break? Or you can head back to my Magento and Shopify services.
      </p>
      <a class="button" href="{{ '/' | relative_url }}">Back to Home</a>
      <a class="button button-primary" href="{{ '/services' | relative_url }}">View Services</a>
    </div>
  </div>
</div>